<?xml version="1.0"?>
<robot name="Neuracar" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="use_sim" default="false" />

  <!-- Enable setting arguments from the launch file -->
  <xacro:arg name="use_fake_hardware" default="true" />
  <xacro:arg name="fake_sensor_commands" default="false" />
  <xacro:arg name="is_ign" default="false" />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="sensors_params_file" default="$(find neuracar_description)/config/sensor_params.yaml"/>
    
  <xacro:include filename="$(find neuracar_description)/urdf/neuracar_materials.xacro" />
  <xacro:include filename="$(find neuracar_description)/urdf/mobile_base.urdf.xacro" />

  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find neuracar_description)/urdf/neuracar_gazebo.xacro" />

  <!-- Import Rviz colors -->
  <!-- <xacro:include filename="$(find neuracar_description)/urdf/neuracar_materials.xacro" /> -->

  <!-- Import diffbot ros2_control description -->
  <!-- <xacro:include filename="$(find neuracar_description)/ros2_control/qcar_system.ros2_control.xacro" /> -->
  
  <!-- Used for fixing robot -->
  <!-- <link name="world"/> -->
  <!-- <gazebo reference="world">
    <static>false</static>
  </gazebo> -->

  <xacro:Neuracar parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:Neuracar>

  <xacro:neuracar_gazebo is_ign="$(arg is_ign)" sensors_params_file="$(arg sensors_params_file)"/>
  <!-- <xacro:QCar_control name="QCar" prefix="$(arg prefix)"/> -->
</robot>
