<?xml version="1.0"?>
<robot name="QCar" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="neuracar_gazebo" params="is_ign sensors_params_file">

    <xacro:read_sensor_config_data qcar_sensors_params_file="${sensors_params_file}"/>
    <xacro:property name="max_steering_angle" value="0.3"/>
    <xacro:property name="axle_vel_limit" value="244.8696"/>

    <link name="camera_rgb_optical_link"/>
    <joint name="camera_rgb_optical_joint" type="fixed">
      <!-- these values have to be these values otherwise the gazebo camera
          image won't be aligned properly with the frame it is supposedly
          originating from -->
      <!-- Values based on the Green QCar -->
      <origin xyz="-0.0150904916226864  4.62899915874004e-05  0.000207370350835845" rpy="-0.001545 -0.006529 0.001103"/>
      <parent link="camera_depth_optical_link"/>
      <child link="camera_rgb_optical_link"/>
    </joint>

    <link name="camera_depth_optical_link"/>
    <joint name="camera_depth_optical_joint" type="fixed">
      <!-- these values have to be these values otherwise the gazebo camera
          image won't be aligned properly with the frame it is supposedly
          originating from -->
      <origin xyz="0.0205 0.02 0.0" rpy="${-pi/2} 0 ${-pi/2}"/>
      <parent link="camera_rgb"/>
      <child link="camera_depth_optical_link"/>
    </joint>

    <!-- Define all the computer vision sernsor properties -->
    <gazebo reference="camera_rgb">
      <!-- <material>Gazebo/Green</material> -->
       <pose>-0.000698930176440626 0.0222015564143658 0.000268658302957192 0 0 0</pose> 
      <sensor type="camera" name="intelrealsense_rgb">
        <always_on>1</always_on>
        <update_rate>${rgb_update_rate}</update_rate>
        <visualize>true</visualize>
        <topic>neuracar/rgbd/color</topic>
        <camera name="rgb">
          <horizontal_fov>1.21126</horizontal_fov>
          <image>
              <width>${rgbd_width}</width>
              <height>${rgbd_height}</height>
              <format>R8G8B8</format>
          </image>
          <clip>
              <near>${rgbd_clip_near}</near>
              <far>${rgbd_clip_far}</far>
          </clip>
          <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.001</stddev>
          </noise>
          <distortion>
            <k1>0.0</k1>
            <k2>0.0</k2>
            <k3>0.0</k3>
            <p1>0.0</p1>
            <p2>0.0</p2>
          </distortion>
          <lens>
            <intrinsics>
              <!-- fx = fy = width / ( 2 * tan (hfov / 2 ) ) -->
              <fx>455.2</fx>
              <fy>459.43</fy>
              <!-- cx = ( width - 1 ) / 2 -->
              <cx>308.53</cx>
              <!-- cy = ( height - 1 ) / 2 -->
              <cy>213.56</cy>
              <s>0</s>
            </intrinsics>
          </lens>
          <optical_frame_id>camera_rgb_optical_link</optical_frame_id>
          <camera_info_topic>neuracar/rgbd/color/camera_info</camera_info_topic>
        </camera>
      </sensor>
    </gazebo>

    <gazebo reference="camera_rgb">
      <!-- <material>Gazebo/Green</material> -->
      <sensor type="depth_camera" name="intelrealsense_depth">
        <!-- Use the Extrinsic translation here to offset this sensor from the RGB sensor -->
        <!-- <pose>-0.01474 -0.0004152 -0.0002451 0 0 0</pose> -->
        <pose>0 0.01750 0 0 0 0</pose> 
        <always_on>1</always_on>
        <update_rate>${depth_update_rate}</update_rate>
        <visualize>true</visualize>
        <topic>neuracar/rgbd/depth</topic>
        <camera name="depth">
          <horizontal_fov>1.51844</horizontal_fov>
          <image>
              <width>${rgbd_width}</width>
              <height>${rgbd_height}</height>
              <format>R_FLOAT32</format>
          </image>
          <clip>
              <near>0.1</near>
              <far>10</far>
          </clip>
          <depth_camera>
            <clip>
              <near>0.1</near>
              <far>10</far>
            </clip>
          </depth_camera>
          <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.001</stddev>
          </noise>
          <distortion>
            <k1>0.0</k1>
            <k2>0.0</k2>
            <k3>0.0</k3>
            <p1>0.0</p1>
            <p2>0.0</p2>
          </distortion>
          <lens>
            <intrinsics>
              <!-- fx = fy = width / ( 2 * tan (hfov / 2 ) ) -->
              <fx>385.6</fx>
              <fy>385.6</fy>
              <!-- cx = ( width - 1 ) / 2 -->
              <cx>321.9</cx>
              <!-- cy = ( height - 1 ) / 2 -->
              <cy>237.3</cy>
              <s>0</s>
            </intrinsics>
          </lens>
          <optical_frame_id>camera_depth_optical_link</optical_frame_id>
          <!-- <camera_info_topic>neuracar/rgbd/depth/camera_info</camera_info_topic> -->
        </camera>
      </sensor>
    </gazebo>

    <gazebo reference="lidar_base">
      <!-- <material>Gazebo/Black</material> -->
      <sensor type="gpu_lidar" name="rplidar_a2m8">
        <always_on>true</always_on>
        <pose>0 0 0.0114 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>${lidar_update_rate}</update_rate>
        <topic>scan</topic>
        <gz_frame_id>lidar_base</gz_frame_id>
        <ray>
            <scan>
                <horizontal>
                    <samples>${lidar_num_points}</samples>
                    <resolution>1</resolution>
                    <!-- <min_angle>-1.570796</min_angle>
                    <max_angle>1.570796</max_angle> -->
                    <min_angle>0</min_angle>
                    <max_angle>6.283185</max_angle>
                </horizontal>
            </scan>
            <range>
                <min>${lidar_min_range}</min>
                <max>${lidar_max_range}</max>
                <resolution>0.01</resolution>
            </range>
            <noise>
                <type>gaussian</type>
                <!-- Noise parameters based on published spec for Hokuyo laser
                    achieving "+-30mm" accuracy at range < 10m.  A mean of 0.0m and
                    stddev of 0.01m will put 99.7% of samples within 0.03m of the true
                    reading. -->
                <mean>0.0</mean>
                <stddev>0.01</stddev>
            </noise>
        </ray>
      </sensor>
    </gazebo>

    <gazebo reference="imu">
      <sensor name="imu" type="imu">
        <always_on>1</always_on>
        <update_rate>${imu_update_rate}</update_rate>
        <visualize>true</visualize>
        <topic>imu</topic>
        <gz_frame_id>imu</gz_frame_id>
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
      <!-- Sensor |camera,ray,imu,magnetometer,gps,force_torque,contact,sonar,rfidtag,rfid| -->
      </sensor>
      <sensor name="magnetometer" type="magnetometer">
        <always_on>1</always_on>
        <update_rate>50</update_rate>
        <visualize>true</visualize>
        <topic>mag</topic>
        <gz_frame_id>imu</gz_frame_id>
        <magnetometer>
          <x>
            <noise type="gaussian">
              <mean>0.000000080</mean>
              <bias_mean>0.000000400</bias_mean>
            </noise>
          </x>
          <y>
            <noise type="gaussian">
              <mean>0.000000080</mean>
              <bias_mean>0.000000400</bias_mean>
            </noise>
          </y>
          <z>
            <noise type="gaussian">
              <mean>0.000000080</mean>
              <bias_mean>0.000000400</bias_mean>
            </noise>
          </z>
        </magnetometer>
      </sensor>
    </gazebo>
    
    <gazebo>
      <xacro:unless value="${is_ign}">
        <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
          <topic>joint_states</topic>
          <joint_name>left_steering_joint</joint_name>
          <joint_name>right_steering_joint</joint_name>
          <joint_name>left_front_axle</joint_name>
          <joint_name>right_front_axle</joint_name>
          <joint_name>left_rear_axle</joint_name>
          <joint_name>right_rear_axle</joint_name>
        </plugin>

        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <parameters>$(find qcar_gazebo)/config/gz_ros2_control.yaml</parameters>
        </plugin>

        <plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>

        <plugin filename="gz-sim-odometry-publisher-system" name="gz::sim::systems::OdometryPublisher">
          <odom_frame>odom</odom_frame>
          <robot_base_frame>base_footprint</robot_base_frame>
        </plugin>

        <plugin filename="gz-sim-imu-system" name="gz::sim::systems::Imu">
        </plugin>

        <plugin filename="gz-sim-magnetometer-system" name="gz::sim::systems::Magnetometer">
        </plugin>
      </xacro:unless>

      <xacro:if value="${is_ign}">
        <plugin filename="libignition-gazebo-joint-state-publisher-system" name="ignition::gazebo::systems::JointStatePublisher">
          <topic>joint_states</topic>
          <joint_name>left_steering_joint</joint_name>
          <joint_name>right_steering_joint</joint_name>
          <joint_name>left_front_axle</joint_name>
          <joint_name>right_front_axle</joint_name>
          <joint_name>left_rear_axle</joint_name>
          <joint_name>right_rear_axle</joint_name>
        </plugin>

        <plugin filename="libign_ros2_control-system.so" name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <parameters>$(find qcar_gazebo)/config/gz_ros2_control.yaml</parameters>
        </plugin>

        <plugin filename="libignition-gazebo-sensors-system" name="ignition::gazebo::systems::Sensors">
            <render_engine>ogre2</render_engine>
        </plugin>

        <plugin filename="libignition-gazebo-odometry-publisher-system" name="ignition::gazebo::systems::OdometryPublisher">
          <odom_frame>odom</odom_frame>
          <robot_base_frame>base_footprint</robot_base_frame>
        </plugin>
        <plugin filename="libignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu">
        </plugin>
        <plugin filename="libignition-gazebo-magnetometer-system" name="ignition::gazebo::systems::Magnetometer">
        </plugin>
      </xacro:if>
    </gazebo>

    <!-- Gazebo Control -->
    <ros2_control name="control" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
            
      <joint name="left_steering_joint">
        <command_interface name="position">
          <param name="min">${-max_steering_angle}</param>
          <param name="max">${max_steering_angle}</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="right_steering_joint">
        <command_interface name="position">
          <param name="min">${-max_steering_angle}</param>
          <param name="max">${max_steering_angle}</param>
        </command_interface>
        
        <!-- Command this joint -->
        <!-- <param name="mimic">left_steering_joint</param>  -->
        <!-- Move in the opposite direction -->
        <!-- <param name="multiplier">1</param>  -->

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="right_front_axle">
        <param name="mimic">right_rear_axle</param>
        <param name="multiplier">1</param> 
        <!-- <command_interface name="velocity">
          <param name="min">${-axle_vel_limit}</param>
          <param name="max">${axle_vel_limit}</param>
        </command_interface> -->

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="left_front_axle">
        <param name="mimic">left_rear_axle</param>
        <param name="multiplier">1</param> 
        <!-- <command_interface name="velocity">
          <param name="min">${-axle_vel_limit}</param>
          <param name="max">${axle_vel_limit}</param>
        </command_interface> -->

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="right_rear_axle">
        <command_interface name="velocity">
          <param name="min">${-axle_vel_limit}</param>
          <param name="max">${axle_vel_limit}</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="left_rear_axle">
        <command_interface name="velocity">
          <param name="min">${-axle_vel_limit}</param>
          <param name="max">${axle_vel_limit}</param>
        </command_interface>

        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>
    </ros2_control>
  </xacro:macro> 
</robot>